*{
    margin : 0;
    padding : 0;
    
}
.logo{
    display : flex;
    justify-content : space-between;
    background-color:antiquewhite;
}
.navbar{
    display : flex;
    justify-content : space-between;
    align-items:end;
    background-color:antiquewhite;

}
.cart{
    display:flex;
    align-items:end;
    background-color:antiquewhite;
}
.hero-content{
    display:flex;
    background-color : rgb(237, 237, 194);
}